<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

        <a href="/"><h1 class='site-title'>FriendFace</h1></a>
    </header>