<%- include('../partials/header', {}) %>
<form method="get" action="/getname" class="signin-form">
    <div class="signbox">
        <input class="input"type="text" name="firstName" placeholder="Your first Name!"/>
        <button class="button" type="submit">Germ up!</button>
    </div>
</form>
<%- include('../partials/footer', {}) %>

